{% extends "layout.html" %}
{% block title %}Edit referee appearance{% endblock %}
{% block content %}
    <div class="container">
      <h3 class="title" style="text-align: center;">Edit Referee Appearance</h3>
      <hr style="height:2px;border-width:0;color:rgb(20, 20, 20);background-color:rgb(20, 20, 20)">
      <form action="" method="post" name="refereeap_edit">
        <div class="mb-3">
            <label for="tournament_id" class="form-label">Tournament Id:</label>
            <div class="control">
                <input type="text" name="tournament_id" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="tournament_name" class="form-label">Tournament Name:</label>
            <div class="control">
                <input type="text" name="tournament_name" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="match_id" class="form-label">Match Id:</label>
            <div class="control">
                <input type="text" name="match_id" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="match_name" class="form-label">Match Name:</label>
            <div class="control">
                <input type="text" name="match_name" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="match_date" class="form-label">Match Date:</label>
            <div class="control">
                <input type="text" name="match_date" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="stage_name" class="form-label">Stage Name:</label>
            <div class="control">
                <input type="text" name="stage_name" class="form-control" required="required"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="group_name" class="form-label">Group Name:</label>
            <div class="control">
                <input type="text" name="group_name" class="form-control" required="required"/>
            </div>
        </div>

        <div class="mb-3">
          <label for="referee_id" class="form-label">Referee Id:</label>
          <div class="control">
            <input type="text" name="referee_id" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="family_name" class="form-label">Family Name:</label>
          <div class="control">
            <input type="text" name="family_name" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="given_name" class="form-label">Given Name:</label>
          <div class="control">
            <input type="text" name="given_name" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="country_name" class="form-label">Country Name:</label>
          <div class="control">
            <input type="text" name="country_name" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="confederation_id" class="form-label">Confederation Id:</label>
          <div class="control">
            <input type="text" name="confederation_id" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="confederation_name" class="form-label">Confederation Name:</label>
          <div class="control">
            <input type="text" name="confederation_name" class="form-control" required="required"/>
          </div>
        </div>

        <div class="mb-3">
          <label for="confederation_code" class="form-label">Confederation Code:</label>
          <div class="control">
            <input type="text" name="confederation_code" class="form-control" required="required"/>
          </div>
        </div>
        <div class="mb-3">
          <div class="control">
            <button class="btn btn-success">Save Form</button>
          </div>
        </div>
      </form>
    </div>
{% endblock %}